<?xml version="1.0" encoding="utf-8"?>
<classification>
   <features>
      <feature>
         <name>eigenvalue0_0</name>
         <weight>0.215443477</weight>
      </feature>
      <feature>
         <name>eigenvalue0_1</name>
         <weight>0.146780029</weight>
      </feature>
      <feature>
         <name>eigenvalue0_2</name>
         <weight>0.318633705</weight>
      </feature>
      <feature>
         <name>eigenvalue0_3</name>
         <weight>0.403459072</weight>
      </feature>
      <feature>
         <name>eigenvalue0_4</name>
         <weight>0.029881686</weight>
      </feature>
      <feature>
         <name>eigenvalue1_3</name>
         <weight>1.10775828</weight>
      </feature>
      <feature>
         <name>eigenvalue1_4</name>
         <weight>0.413682371</weight>
      </feature>
      <feature>
         <name>eigenvalue2_1</name>
         <weight>1.99526572</weight>
      </feature>
      <feature>
         <name>eigenvalue2_2</name>
         <weight>1.99526572</weight>
      </feature>
      <feature>
         <name>distance_to_plane_0</name>
         <weight>1.58511198</weight>
      </feature>
      <feature>
         <name>distance_to_plane_1</name>
         <weight>3.17469501</weight>
      </feature>
      <feature>
         <name>distance_to_plane_2</name>
         <weight>4.0031929</weight>
      </feature>
      <feature>
         <name>distance_to_plane_3</name>
         <weight>12.8100395</weight>
      </feature>
      <feature>
         <name>distance_to_plane_4</name>
         <weight>7.26292706</weight>
      </feature>
      <feature>
         <name>vertical_dispersion_0</name>
         <weight>7.94328207e-06</weight>
      </feature>
      <feature>
         <name>vertical_dispersion_1</name>
         <weight>0.629467249</weight>
      </feature>
      <feature>
         <name>elevation_0</name>
         <weight>25.1223354</weight>
      </feature>
      <feature>
         <name>elevation_1</name>
         <weight>25.1849842</weight>
      </feature>
      <feature>
         <name>elevation_2</name>
         <weight>25.2175026</weight>
      </feature>
      <feature>
         <name>elevation_3</name>
         <weight>25.5593891</weight>
      </feature>
      <feature>
         <name>elevation_4</name>
         <weight>26.0570221</weight>
      </feature>
      <feature>
         <name>height_below_0</name>
         <weight>7.94328207e-06</weight>
      </feature>
      <feature>
         <name>height_below_1</name>
         <weight>0.0158489384</weight>
      </feature>
      <feature>
         <name>height_below_2</name>
         <weight>0.0902725756</weight>
      </feature>
      <feature>
         <name>height_below_3</name>
         <weight>25.1386337</weight>
      </feature>
      <feature>
         <name>height_below_4</name>
         <weight>25.3748684</weight>
      </feature>
      <feature>
         <name>height_above_0</name>
         <weight>7.08708096</weight>
      </feature>
      <feature>
         <name>height_above_1</name>
         <weight>7.92447805</weight>
      </feature>
      <feature>
         <name>height_above_2</name>
         <weight>15.9695196</weight>
      </feature>
      <feature>
         <name>height_above_3</name>
         <weight>1.02591527</weight>
      </feature>
      <feature>
         <name>height_above_4</name>
         <weight>31.8633823</weight>
      </feature>
      <feature>
         <name>vertical_range_0</name>
         <weight>0.0902725756</weight>
      </feature>
      <feature>
         <name>vertical_range_1</name>
         <weight>25.1386337</weight>
      </feature>
      <feature>
         <name>verticality_0</name>
         <weight>0.022102667</weight>
      </feature>
      <feature>
         <name>verticality_1</name>
         <weight>0.00041368205</weight>
      </feature>
      <feature>
         <name>verticality_2</name>
         <weight>0.0032442268</weight>
      </feature>
      <feature>
         <name>verticality_3</name>
         <weight>0.251188666</weight>
      </feature>
      <feature>
         <name>verticality_4</name>
         <weight>0.0409723781</weight>
      </feature>
   </features>
   <labels>
      <label>
         <name>ground</name>
         <feature>
            <name>eigenvalue0_0</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>eigenvalue0_1</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>eigenvalue0_2</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>eigenvalue0_3</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>eigenvalue0_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>eigenvalue1_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>eigenvalue1_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>eigenvalue2_1</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>eigenvalue2_2</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>distance_to_plane_0</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>distance_to_plane_1</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>distance_to_plane_2</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>distance_to_plane_3</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>distance_to_plane_4</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>vertical_dispersion_0</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>vertical_dispersion_1</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>elevation_0</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>elevation_1</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>elevation_2</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>elevation_3</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>elevation_4</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>height_below_0</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>height_below_1</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>height_below_2</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>height_below_3</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>height_below_4</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>height_above_0</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>height_above_1</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>height_above_2</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>height_above_3</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>height_above_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>vertical_range_0</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>vertical_range_1</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>verticality_0</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>verticality_1</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>verticality_2</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>verticality_3</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>verticality_4</name>
            <effect>neutral</effect>
         </feature>
      </label>
      <label>
         <name>vegetation</name>
         <feature>
            <name>eigenvalue0_0</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>eigenvalue0_1</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>eigenvalue0_2</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>eigenvalue0_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>eigenvalue0_4</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>eigenvalue1_3</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>eigenvalue1_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>eigenvalue2_1</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>eigenvalue2_2</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>distance_to_plane_0</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>distance_to_plane_1</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>distance_to_plane_2</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>distance_to_plane_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>distance_to_plane_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>vertical_dispersion_0</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>vertical_dispersion_1</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>elevation_0</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>elevation_1</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>elevation_2</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>elevation_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>elevation_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>height_below_0</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>height_below_1</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>height_below_2</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>height_below_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>height_below_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>height_above_0</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>height_above_1</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>height_above_2</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>height_above_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>height_above_4</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>vertical_range_0</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>vertical_range_1</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>verticality_0</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>verticality_1</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>verticality_2</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>verticality_3</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>verticality_4</name>
            <effect>penalized</effect>
         </feature>
      </label>
      <label>
         <name>roof</name>
         <feature>
            <name>eigenvalue0_0</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>eigenvalue0_1</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>eigenvalue0_2</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>eigenvalue0_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>eigenvalue0_4</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>eigenvalue1_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>eigenvalue1_4</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>eigenvalue2_1</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>eigenvalue2_2</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>distance_to_plane_0</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>distance_to_plane_1</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>distance_to_plane_2</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>distance_to_plane_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>distance_to_plane_4</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>vertical_dispersion_0</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>vertical_dispersion_1</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>elevation_0</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>elevation_1</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>elevation_2</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>elevation_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>elevation_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>height_below_0</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>height_below_1</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>height_below_2</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>height_below_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>height_below_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>height_above_0</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>height_above_1</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>height_above_2</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>height_above_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>height_above_4</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>vertical_range_0</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>vertical_range_1</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>verticality_0</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>verticality_1</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>verticality_2</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>verticality_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>verticality_4</name>
            <effect>penalized</effect>
         </feature>
      </label>
   </labels>
</classification>
